body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    /* width: 1100px;
    margin: 0 auto;  */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.name {
    font-size: 28px;
    font-weight: bold;
    margin-right: 400px;
    cursor: pointer;
}

.item {
    font-weight: 600;
    font-size: 14px;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.item2 {
    font-size: 14px;
    background-color:#F58A071A;
    padding: 10px 25px;
    font-weight: 600;
    color: #F58A07;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 460px;
    background: #063255;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 350px;
    /* margin-left: 480px; */
    margin-left: 120px;
}

.footer-left-logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-left-title {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.footer-company {
    margin-left: 100px;
}

.footer-company-title {
    font-weight: 600;
    font-size: 18px;
}

.footer-company-item {
    font-weight: 500;
    font-size: 16px;
    margin-top: 23px;
}

.footer-connect {
    margin-left: 120px;
}

.footer-connect-title {
    font-weight: 600;
    font-size: 18px;
}

.footer-connect-item {
    font-weight: 500;
    font-size: 16px;
    margin-top: 23px;
}

.footer-right {
    margin-left: 160px;
}

.footer-right-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-right-input {
    width: 280px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30px;
    border: none;
    color: #9C9C9C;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-right-subscribe {
    padding: 15px 30px;
    background-color: #F58A07;
    width: 95px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 30px;
}

.icon {
    margin-right: 15px;
}

.footer-bottom {
    /* margin-left: 480px; */
    margin-left: 120px;
    margin-top: 100px;
    font-size: 18px;
    font-weight: 500;
}

.footer-bottom-middle {
    margin-left: 730px;
    margin-right: 30px;
}

.blog-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
    justify-content: center;
    background-color: #DCEAF5;
    align-items: center;
}

.blog-header-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #394149;
}

.blog-header-name {
    margin-right: 30px;
    margin-left: 10px;
}

.blog-header-title {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -3px;
    color: #1D3444;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.blog-header-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 510px;
    margin-bottom: 30px;
}

.blog-header-button {
    font-size: 16px;
    font-weight: 500;
    color: #F58A07;
}

.blog-header-img {
    border-radius: 20px;
    width: 550px;
    height: 480px;
    margin-left: 50px;
}

/* .post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.post-section-title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -3px;
    color: #0D1317;
    margin-top: 80px;
    margin-left: 550px;
    /* margin-left: 120px; */
}

.post-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
    margin-left: 550px;
    margin-bottom: 100px;
}

.post {
    width: 350px;
    height: 450px;
    background-color: #EDF7FF;
    margin-right: 40px;
    border-radius: 20px;
    /* margin-left: 120px; */
}

.post-img {
    width: 350px;
}

.post-title {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    width: 300px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.post-text {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    width: 310px;
    margin-left: 30px;
}

.post-learnmore {
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;
    margin-left: 30px;
    margin-top: 20px;
}