body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    /* width: 1100px;
    margin: 0 auto;  */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.name {
    font-size: 28px;
    font-weight: bold;
    margin-right: 400px;
    cursor: pointer;
}

.item {
    font-weight: 600;
    font-size: 14px;
    margin-right: 30px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.item2 {
    font-size: 14px;
    background-color:#F58A071A;
    padding: 10px 25px;
    font-weight: 600;
    color: #F58A07;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.service {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.service1-left {
    margin-top: 150px;
}

.service1-title {
    font-weight: 600;
    font-size: 48px;
    width: 400px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    line-height: 72px;
}

.service1-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 450px;
    line-height: 30px
}

.service1-img {
    width: 500px;
    height: 550px;
    margin-left: 110px;
    margin-top: 50px;
}

.service1-button {
    background-color: #F58A07;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 20px;
    width: 120px;
    border-radius: 30px;
    margin-top: 20px;
}

.service2-img {
    width: 600px;
    height: 500px;
    margin-top: 80px;
    margin-right: 80px;
}

.service2-title {
    font-weight: 600;
    font-size: 48px;
    width: 400px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    margin-top: 180px;
}

.service2-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 450px;
    line-height: 30px;
    margin-bottom: 30px;
}

.service2-item {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
    margin-top: 10px;
}

.service3-left {
    margin-left: 120px;
    margin-top: 100px;
}

.service3-title {
    font-weight: 600;
    font-size: 48px;
    width: 400px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    margin-top: 180px;
}

.service3-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 510px;
    line-height: 30px
}

.service3-img {
    width: 580px;
    height: 500px;
    margin-left: 50px;
    margin-top: 100px;
}

.service4-right {
    margin-left: 50px;
    margin-top: 100px;
}

.service4-img {
    width: 580px;
    height: 500px;
    margin-top: 100px;
}

.service4-title {
    font-weight: 600;
    font-size: 48px;
    width: 400px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.service4-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 480px;
    line-height: 30px;
    margin-bottom: 30px;
}

.service4-item {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
    margin-top: 10px;
}

.service5-left {
    margin-top: 100px;
    margin-left: 100px;
}

.service5-title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.service5-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 500px;
    line-height: 30px
}

.service5-img {
    width: 580px;
    height: 500px;
    margin-left: 50px;
    margin-top: 100px;
}

.service6-left {
    margin-left: 50px;
}

.service6-title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -3px;
    margin-bottom: 20px;
    margin-top: 200px;
}

.service6-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 500px;
    line-height: 30px
}

.service6-img {
    width: 580px;
    height: 500px;
    margin-top: 100px;
}

.service6-item {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    line-height: 30px;
    margin-top: 10px;
}

.video-section {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}

.video-left {
    margin-top: 230px;
    margin-left: 230px;
}

.video-left-title {
    font-weight: 600;
    font-size: 48px;
    width: 550px;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

.video-left-text {
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    width: 550px;
    line-height: 30px
}

.video-left-profile {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.profile-right {
    margin-top: 10px;
    margin-left: 25px;
}

.profile-name {
    font-size: 24px;
    font-weight: 500;
    color: #063255;
    margin-bottom: 5px;
}

.profile-job {
    color: #F58A07;
    font-weight: 500;
    font-size: 18px;
}

.video-img {
    width: 530px;
    height: 450px;
    margin-top: 130px;
    margin-left: 50px;
}

.latest-section {
    width: 100%;
    background-color: #DCEAF5;
    height: 700px;
    margin-top: 100px;
}

.latest-title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -3px;
    color: #0D1317;
    margin-top: 80px;
    margin-left: 550px;
    /* margin-left: 120px; */
}

.latest-blog-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.blog-img {
    width: 350px;
}

.latest-blog1 {
    width: 350px;
    height: 450px;
    background-color: #fff;
    margin-right: 40px;
    border-radius: 20px;
    margin-left: 550px;
    /* margin-left: 120px; */
}

.latest-blog2 {
    width: 350px;
    height: 450px;
    background-color: #fff;
    margin-right: 40px;
    border-radius: 20px;
}

.latest-blog3 {
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
}

.blog-title {
    color: #0D1317;
    font-weight: 500;
    font-size: 24px;
    width: 310px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.blog-text {
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    width: 310px;
    margin-left: 30px;
}

.blog-learnmore {
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;
    margin-left: 30px;
    margin-top: 20px;
}

.footer {
    width: 100%;
    height: 460px;
    background: #063255;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.footer-top {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
}

.footer-left {
    width: 350px;
    margin-left: 480px;
    /* margin-left: 120px; */
}

.footer-left-logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-left-title {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.footer-company {
    margin-left: 100px;
}

.footer-company-title {
    font-weight: 600;
    font-size: 18px;
}

.footer-company-item {
    font-weight: 500;
    font-size: 16px;
    margin-top: 23px;
}

.footer-connect {
    margin-left: 120px;
}

.footer-connect-title {
    font-weight: 600;
    font-size: 18px;
}

.footer-connect-item {
    font-weight: 500;
    font-size: 16px;
    margin-top: 23px;
}

.footer-right {
    margin-left: 160px;
}

.footer-right-title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-right-input {
    width: 280px;
    height: 30px;
    background-color: #FFF;
    border-radius: 30px;
    border: none;
    color: #9C9C9C;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-right-subscribe {
    padding: 15px 30px;
    background-color: #F58A07;
    width: 95px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 30px;
}

.icon {
    margin-right: 15px;
}

.footer-bottom {
    margin-left: 480px;
    /* margin-left: 120px; */
    margin-top: 100px;
    font-size: 18px;
    font-weight: 500;
}

.footer-bottom-middle {
    margin-left: 730px;
    margin-right: 30px;
}